{% extends 'recipe/layout.html' %}


{% block body %}

    {% if message %}
     {{message}}
    {% endif %}

    <div class= 'create-form-div'>
        <h3>Add New Recipe</h3>
        <div id="form-div">
            <form action="{% url 'create' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                            {{form.as_p}}
                            <input type="submit" value = 'Bon Apetit'>
                      </div>

            </form>
        </div>
    </div>

{% endblock %}