{% extends 'recipe/layout.html' %}


{% block body %}

    {% if message %}
     {{message}}
    {% endif %}

    <div class= 'create-form-div'>
        <div class="container">
            <div class="row">
                <div class="col" id="form-div">
                    <h3>Add New Recipe</h3>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-control">
                            <br>
                            <h6>Title</h6>
                                {{form.title}}
                                <br>
                                <h6>Description</h6>
                                {{form.description}}
                                <font size="1">(Maximum characters: 150)
                                    You have <input readonly type="text" name="countdown" size="3" value="150"> characters left.</font>
                                <br>
                                <h6>Ingredients</h6>
                                {{form.ingredients}}
                                <br>
                                <h6>Procedure</h6>
                                {{form.procedure}}
                                <br>
                                <h6>Select Category</h6>
                                {{form.category}}
                                <br>
                                <h6>Upload Image:</h6>
                                {{form.img}}
                                {{form.edit}}

                                <button class='btn btn-primary' style="text-align: center;" type="submit">Bon Apetit</button>
                                <br><br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
