{% extends 'recipe/layout.html' %}


{% block body %}

    {% if message %}
     {{message}}
    {% endif %}

    <div class= 'create-form-div'>
        <div class="container">
            <div class="row">
                <div class="col" id="form-div">
                    <h3>Add New Recipe</h3>
                    <form action="{% url 'create' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-control">
                                {{form}}
                                <input class = 'btn btn-secondary' style="display: block;" type="submit" value = 'Bon Apetit'>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}