{% extends 'recipe/layout.html' %}
{% load static %}

{% block body %}
<section id="title" style= "background-image: url({% static 'recipe/bgfood.png' %}); background-size:cover;">
 
  <div class="container-fluid">
    <div class="row">
        <div class="col-12">
          <div class="name">
            <h3 class = 'IAS-Recipe'>Food Network</h3>
            <p class = 'tagline'>Where you find the delicious recipes from all around the world!</p>
        </div>
    </div>
  </div>
</div>
</section>

</div>

    
            <!-- Recent Recipe Div -->
            <div id = 'recent-recipe' >
                <h4>Recent Recipes</h4>
                <div class = "card-container">
                    <div class="row" id= 'recent'>
                    </div>
                </div>

            </div>
    
            <!-- Most Liked Recipe -->
            <div id = 'mostliked-recipe' class = 'container-fluid'>
                <div class = "card-container">
                    <div class="row" id = 'mostliked'>
                        
                    </div>
                </div>
            </div>

            {% endblock %}
