{% extends 'recipe/layout.html' %}
{% load static %}

{% block title %}
<title>Recipe Book</title>
{% endblock %}


{% block body %}
<section id="title" style= "background-image: url({% static 'recipe/bgfood.png' %}); background-size:cover;">
 
  <div class="container-fluid">
    <div class="row">
        <div class="col-12">
          <div class="name">
            <h3 class = 'IAS-Recipe'>Recipe Book</h3>
            <p class = 'tagline'>Where you find the delicious recipes from all around the world!</p>
        </div>
    </div>
  </div>
</div>
</section>

    
            <!-- Recent Recipe Div -->
<div id = 'recent-recipe' >
    <h4>Recent Recipes</h4>
    <div class = "card-container">
        <div class="row" id= 'recent' style="text-align: center;">
        </div>
        <div>
          <p style="float: right;"><a href="/AllRecipe">See More</a></p>
        </div>
    </div>
</div>


{% endblock %}
