{% extends 'recipe/layout.html' %}
{% load static %}

{% block body %}
<section id="title" style= "background-image: url({% static 'recipe/bgfood.png' %}); background-size:cover;">
 
  <div class="container-fluid">
    <div class="row">
        <div class="col-12">
          <div class="name">
            <h3 class = 'IAS-Recipe'>Food Network</h3>
            <p class = 'tagline'>Where you find the delicious recipes from all around the world!</p>
        </div>
    </div>
  </div>
</div>


</section>

</div>

    
            <!-- Recent Recipe Div -->
            <div id = 'recent-recipe' >
                <h4>Recent Recipes</h4>
                <div class = "card-container">
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="https://images.all-free-download.com/images/graphicthumb/food_picture_01_hd_pictures_167558.jpg" class="card-img-top" alt="card-item">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <a href="#" style="position: absolute; right:130px">See More</a>
            </div>
    
            <!-- Most Liked Recipe -->
            <div id = 'mostliked-recipe' class = 'container-fluid'>
                <h4>Most Liked Recipes</h4>
                <div class = "card-container">
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="https://images.all-free-download.com/images/graphicthumb/food_picture_01_hd_pictures_167558.jpg" class="card-img-top" alt="card-item">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <a href="#" style="position: absolute; right:130px">See More</a>
            </div>

            {% endblock %}
