{% extends 'recipe/layout.html' %}
{% block body %}
    
    
       <div class="container" style="padding-top: 5%;">
           <div class="row" >
               <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="userinfobox" style="text-align: center;">
                        <div>
                            
                            {% if user.is_authenticated %}
                            {% if request.user == userProfile %}
                            {% if exists == False %}
                                <h5>{{message}}</h5>
                            <form action="/profile/{{userProfile}}" method="POST" enctype="multipart/form-data">
                                {%csrf_token%}
                                {{form.as_p}}
                                <input type="submit" value="Upload">
                            </form>
                            {%endif%}
                            {%endif%}
                            {%endif%}
                            
                        </div>
                        <div>
                            <a href="/images/{{userProfile.profile_pic}}"> 
                                <img class="profile" src="/images/{{userProfile.profile_pic}}" alt="userpic" ></a>    
                        </div>
                        <h4 style="text-transform: uppercase;">{{userProfile.username}}</h4>
                        <p><b>Email:</b> {{userProfile.email}}</p>
                        <p><b>Following:</b> {{user_following}}</p>
                        <p><b>Followers:</b> {{user_follower}}</p>          
                        {% if user.is_authenticated %}
                        {% if user.username != userProfile.username %}
                            <form action="{% url 'follow' %}" method="POST">
                                {%csrf_token%}
                                <input type="submit" value="{{following_state}}">
                                <input type="hidden" name = 'username' value="{{userProfile.username}}">
                            </form>
                        {% endif %}
                        {% endif %}
                    </div>
                    <br>
               </div>
                <div class="col-lg-8 col-sm-6 col-md-6" style="text-align: center;">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                {% if norecipes %}
                                    <h3><i>{{norecipes}}</i></h3>
                                    {% if add %}
                                    <a href="/create">Add New</a>
                                    {% endif %}
                                {%else%}

                                     {% for recipe in recipes %}
                                    <div id="recipebox">
                                        <h2 class="cen"><a href="/recipe/{{recipe.id}}">{{recipe.title}}</a></h2>
                                        <hr>
                                        <p style="text-align: left; padding: 0 15px;">Date Posted:  {{recipe.dateposted.date}}</p>
                                        <a href="/recipe/{{recipe.id}}"><img class="cen" src="/images/{{recipe.img}}" alt="{{recipe.title}}-img" width='259px' height= '194px'></a>
                                        
                                        <div style="text-align: left;  padding: 0 15px;">
                                                <h5>Ingredients</h5>
                                                <p>{{recipe.ingredients}}</p>
                                                <h5>Procedure</h5>
                                                <p>{{recipe.procedure}}</p>    
                                                <p><b>Likes: </b>{{likes}}</p>
                                        </div>
                                    </div>
                                    <br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                </div>
           </div>
       </div>



    
{% endblock%}