{% extends 'recipe/layout.html' %}
{% block body %}

    {% for recipe in recipes %}
    
       <div class="container" style="padding: 5%;">
           <div class="row" >
               <div class="col">
                    <div class="userinfobox">
                        <h4>{{userProfile.username}}</h4>
                        <p><b>Email:</b> {{userProfile.email}}</p>
                        <p><b>Following:</b> {{user_following}}</p>
                        <p><b>Followers:</b> {{user_follower}}</p>          
                        {% if user.is_authenticated %}
                        {% if user.username != userProfile.username %}
                            <form action="{% url 'follow' %}" method="POST">
                                {%csrf_token%}
                                <input type="submit" value="{{following_state}}">
                                <input type="hidden" name = 'username' value="{{userProfile.username}}">
                            </form>
                        {% endif %}
                        {% endif %}
                    </div>
               </div>
                <div class="col">
                    <div id="recipebox">
                        <h2 class="cen">{{recipe.title}}</h2>
                        <p style="text-align: left; padding: 0 15px;">Date Posted:  {{recipe.dateposted.date}}</p>
                        <img class="cen" src="/images/{{recipe.img}}" alt="{{recipe.title}}-img">
                        <div style="text-align: left;  padding: 0 15px;">
                            <h5>Ingredients</h5>
                            <p>{{recipe.ingredients}}</p>
                            <h5>Procedure</h5>
                            <p>{{recipe.procedure}}</p>    
                            <p><b>Likes: </b>{{likes}}</p>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="container" style="height: 50px;">
                                <div class="row">
                                    <div class="col" style="padding: 0 0 0;">
                                        <form action="{% url 'like' %}" method="POST">
                                            {%csrf_token%}
                                            <button class= "btn btn-secondary but" type="submit">Like</button>
                                            <input type="hidden" name = 'like' value="{{recipe.id}}">
                                        </form>
                                    </div>
                                    <div class="col" style="padding: 0 0 0;">
                                        <form action="{% url 'dislike' %}" method="POST">
                                            {%csrf_token%}  
                                            <button class= "btn btn-secondary but"  type="submit">Dis Like</button>
                                            <input type="hidden" name = 'dislike' value="{{recipe.id}}">    
                                        </form>
                                    </div> 
                                </div>
                            </div>
                        {% endif %}
                        
                    <div class="container" style="height: auto">
                        <div class = "row">
                             <div class="col">
                                 <div style="text-align: left;">
                                     <p><b>Comments</b></p>
                                     {% for comment in comments %}
                                        <div style="background-color: blanchedalmond; border-radius: 5px;">
                                            <a href="/profile/{{comment.author}}"><h5>{{comment.author}}</h5></a>
                                            <p>{{comment.datecreated}}</p>
                                            <p>{{comment}}</p>    
                                        </div>
                                     {% endfor %}
                                     <div id="commentinputbox">                        
                                        {% if user.is_authenticated %}
                                        <form action="{% url 'comment' %}" method="POST">
                                            {%csrf_token%}
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="comment"></textarea>
                                                <label for="floatingTextarea">Add Comment</label>
                                                <input type="hidden" value = {{recipe.id}} name = 'recipeid'>
                                                <button type="submit">Comment</button>
                                            </div>
                                        </form>
                                        {% endif %}
                                    </div>
                             </div>
                         </div>
                     </div>
                 </div>
                    </div>
                </div>
           </div>
       </div>

    {% endfor %}

    
{% endblock%}