{% extends 'recipe/layout.html' %}

{% block title %}
<title>{{userProfile.first_name}} {{userProfile.last_name}}</title>
{% endblock %}


{% block body %}
    
    
       <div class="container" style="padding-top: 2%;">
        
        <div class = 'row'>
            <div class="userinfobox" style="text-align: center;">
                <div>
                    {% if exists == False %}

                    <img class='profile' src="https://www.edgehill.ac.uk/health/files/2017/12/blank-profile.png">
                    {% else %}
                    <div>
                        <a href="/images/{{userProfile.profile_pic}}"> 
                            <img class="profile" src="/images/{{userProfile.profile_pic}}" alt="userpic" ></a>    
                    </div>
                    {%endif%}
                    
                    
                    {% if user.is_authenticated %}
                    {% if exists == False %}
                    {% if request.user == userProfile %}
                    <form action="/profile/{{userProfile}}" method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        {{form.profilephoto}}
                        <input type="submit" value="Upload">
                    </form>
                    <br>
                    {%endif%}
                    {%endif%}
                    {%endif%}
                    
                </div>
                
                <h4 style="text-transform: uppercase;">{{userProfile.first_name}}  {{userProfile.last_name}} </h4>
                <p><b>Email:</b> {{userProfile.email}}</p>       
            </div>
            <br>
        </div>

        <div class="row" >
                            <div class="col" style="text-align: center;">
                                {% if norecipes %}
                                    <h5><i>{{norecipes}}</i></h5>
                                    {% if add %}
                                    <a href="/create">Add New</a>
                                    {% endif %}
                                {%else%}

                                     {% for recipe in recipes %}
                                    <div id="recipebox">
                                        <h2 class="cen"><a href="/recipe/{{recipe.id}}">{{recipe.title}}</a></h2>
                                        <hr>
                                        <p style="text-align: left; padding: 0 15px;">Date Posted:  {{recipe.dateposted.date}}</p>
                                        <a href="/recipe/{{recipe.id}}"><img class="cen" src="/images/{{recipe.img}}" alt="{{recipe.title}}-img" width='259px' height= '194px'></a>
                                        
                                        <div style="text-align: left;  padding: 0 15px;">
                                                <h5>Ingredients</h5>
                                                <p>{{recipe.ingredients}}</p>
                                                <h5>Procedure</h5>
                                                <p>{{recipe.procedure}}</p>    
                                                <p><b>Likes: </b>{{likes}}</p>
                                        </div>
                                    </div>
                                    <br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>



    
{% endblock%}