{% extends 'recipe/layout.html' %}


{% block title %}
<title>{{recipe.title}}</title>
{% endblock %}



{% block body %}
<div>
    <div class="container" style="padding: 5% 0; margin-bottom: 10%;">
        <div class="row">
             <div class="col" style="margin-bottom: 10%;">
                 <div id="recipebox">

                     <h2 style="text-transform: uppercase;" class="cen">{{recipe.title}}</h2>
                     
                    {% if user.is_authenticated %}
                    {% if request.user == recipe.author %}
                        <p style="text-align: left; padding: 0 15px;"><a href="/edit/{{recipe.id}}">Edit</a>  || <a href="/delete/{{recipe.id}}">Delete</a>  </p>
                    {% endif %}
                    {% endif %}
                     <p style="text-align: left; padding: 0 15px;">Author:  <b><a href="/profile/{{recipe.author}}">{{recipe.author.first_name}}</a></b></p>
                     <p style="text-align: left; padding: 0 15px;">Category:  <b>{{recipe.category}}</b></p>
                     <p style="text-align: left; padding: 0 15px;">Date Posted:  {{recipe.dateposted.date}}</p>

                    
                        <img src="/images/{{recipe.img}}" style ='height: 400px; width: 400px; ' class="img-fluid" alt="...">
                     
                 <div style="text-align: left;  padding: 0 15px;">
                        <h5>Description:</h5>
                        <p>{{recipe.description}}</p>
                        <h5>Ingredients</h5>
                        <p>{{recipe.ingredients}}</p>
                         <h5>Procedure</h5>
                         <p>{{recipe.procedure}}</p>    
                         <p><b>Likes:  </b>{{likes}}</p>
                     </div>
                     {% if user.is_authenticated %}
                         <div class="container" style="height: 50px;">
                             <div class="row">
                                 <div class="col" style="padding: 0 0 0;">
                                     <form class="form-div" action="{% url 'like' %}" method="POST">
                                         {%csrf_token%}
                                         <button class= "btn btn-primary like" type="submit">Like</button>
                                         <input type="hidden" name = 'like' value="{{recipe.id}}">
                                     </form>
                                 </div>
                             </div>
                         </div>
                     {% endif %}
                    <div class="container" style="height: auto">
                        <div class = "row">
                             <div class="col">
                                 <div style="text-align: left;">
                                     <p><b>Comments</b></p>
                                     {% for comment in comments %}
                                     <table>
                                         <tr>
                                             <td style="padding:0">
                                                 <img src="/images/{{recipe.author.profile_pic}}" alt="" height="50px" width="50px" style=" border-radius: 100%;">
                                             </td>
                                             <td>
                                                <div style="display:inline-block; background-color: #f1f1f1; border-radius: 5px; ">
                                                    <a href="/profile/{{comment.author}}"><p style=" margin: 0; display:inline-block;"><b>{{comment.author.first_name}}</b></p></a>
                                                    <br><p style="display:inline-block; margin: 0;">{{comment}}</p>    
                                                </div>
                                                
                                             </td>

                                         </tr>
                                     </table>
                                     <br>
                                     {% endfor %}
                                     <div id="commentinputbox">                        
                                        {% if user.is_authenticated %}
                                        <form action="{% url 'comment' %}" method="POST" style="padding-bottom: 30px;">
                                            {%csrf_token%}
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="comment"></textarea>
                                                <label for="floatingTextarea">Add Comment</label>
                                                <input type="hidden" value = {{recipe.id}} name = 'recipeid'>
                                                <button type="submit">Comment</button>
                                            </div>
                                        </form>
                                        {% endif %}
                                    </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>
</div>
    

{% endblock %}
