{% extends 'recipe/layout.html' %}

{% block body %}
<div>
    <div class="container" style="padding: 10% 0; margin-bottom: 10%;">
        <div class="row">
             <div class="col" style="margin-bottom: 10%;">
                 <div id="recipebox">
                    {% if user.is_authenticated %}
                    {% if request.user == recipe.author %}
                        <a href="/edit/{{recipe.id}}"><button class="btn">Edit</button></a>
                    {% endif %}
                    {% endif %}


                     <h2 style="text-transform: uppercase;" class="cen">{{recipe.title}}</h2>
                     <p style="text-align: left; padding: 0 15px;">Author:  <b><a href="/profile/{{recipe.author}}">{{recipe.author}}</a></b></p>
                     <p style="text-align: left; padding: 0 15px;">Category:  <b>{{recipe.category}}</b></p>
                     <p style="text-align: left; padding: 0 15px;">Date Posted:  {{recipe.dateposted.date}}</p>
                     <img class="cen" src="/images/{{recipe.img}}" alt="{{recipe.title}}-img" height="500px">
                     <div style="text-align: left;  padding: 0 15px;">
                        <h5>Description:</h5>
                        <p>{{recipe.description}}</p>
                        <h5>Ingredients</h5>
                        <p>{{recipe.ingredients}}</p>
                         <h5>Procedure</h5>
                         <p>{{recipe.procedure}}</p>    
                         <p><b>Likes:  </b>{{likes}}</p>
                     </div>
                     {% if user.is_authenticated %}
                         <div class="container" style="height: 50px;">
                             <div class="row">
                                 <div class="col" style="padding: 0 0 0;">
                                     <form class="form-div" action="{% url 'like' %}" method="POST">
                                         {%csrf_token%}
                                         <button id="lykebuttone" class= "btn btn-secondary but" type="submit">Like</button>
                                         <input type="hidden" name = 'like' value="{{recipe.id}}">
                                     </form>
                                 </div>
                             </div>
                         </div>
                     {% endif %}
                    <div class="container" style="height: auto">
                        <div class = "row">
                             <div class="col">
                                 <div style="text-align: left;">
                                     <p><b>Comments</b></p>
                                     {% for comment in comments %}
                                        <div style="background-color: blanchedalmond; border-radius: 5px;">
                                            <a href="/profile/{{comment.author}}"><h5>{{comment.author}}</h5></a>
                                            <p>{{comment.datecreated}}</p>
                                            <p>{{comment}}</p>    
                                        </div>
                                     {% endfor %}
                                     <div id="commentinputbox">                        
                                        {% if user.is_authenticated %}
                                        <form action="{% url 'comment' %}" method="POST" style="padding-bottom: 30px;">
                                            {%csrf_token%}
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="comment"></textarea>
                                                <label for="floatingTextarea">Add Comment</label>
                                                <input type="hidden" value = {{recipe.id}} name = 'recipeid'>
                                                <button type="submit">Comment</button>
                                            </div>
                                        </form>
                                        {% endif %}
                                    </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>
</div>
    
<!-- Contact us -->

{% endblock %}
