/* Index.html Styling */
.btn{
    color: white;
    background-color: black;
}
/* default state */
.navbar {
    position: relative;
    /* default colors + transition */
    background-color: white;
    color: black;
    transition: all 0.3s ease-out;
  }
  
  /* scrolling state */
.navbar.fixed-top {
    padding:0.5% 15% 0.5% 18%;
    position: fixed;
    top: 0;
    width: 100%;
    /* scrolling colors */
    background-color: lightgrey;
    color: white;
  }
.navbar.fixed-top a {
    color: black;
  }

.name, .join{
    padding: 15% 10%;
}

.IAS-Recipe{
    color: black;
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    line-height: 1.5;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: ivory;
}
.tagline{
    font-size: 1rem;
    color:white;
    padding-left: 5%;text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;
}

#recent-recipe{
    height: max-content;
    padding: 3% 0;
    text-align: center;
}
.card-container{
    text-align: center;
    padding: 20px;
}
  /* Create.html Styling */

#form-div{
    border-radius: 25px;
    padding: 100px 20%;
    margin:0;
    width: 20%;
}



  /* login.html -- register Styling */

.loginbox{
    text-align: center;
    position: relative;
    top:50%;
    margin: 3%;
    padding: 8%;
}
.img-log{
    width: 350px;
    height: 300px;
}

/* Category Page Styling */

#category{
    margin: 10%;
}
.btni{
    display: block;
    width: 100px;
    background-color: white;
    color: black;

}
#id_img{
    display: block;
    padding: 5px;
}

#cat-card{
    margin: 0;
    padding: 0%;
}

#recipebox{
    border: solid;
    text-align: center;
}
.cen{
    text-align: center;
}

.profile{
    height: 200px;
    width: 200px;
    border-radius: 100%;margin-bottom: 20px;
    border-style: solid ;
}

#commentinputbox {
    margin-top: 3%;
}

.like{
    position: absolute;
    left:30px;
}