  /* Index.html Styling */
.btn{
    color: white;
    background-color: black;
}

.IAS-Recipe{
    color: black;
    font-family: 'Monoton', cursive;
    font-size: 100px;
    position: absolute;
    left: 10%;
    top: 40%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.tagline{
    padding-top: 20px;
    font-size: 25px;
    position: absolute;
    left: 15%;
    top: 50%;
}
#intro-div>img{
    height: 930px;
    width: 1920px;
    margin: 0;
    padding: 0;
}
#join{
    text-align:center;
    display: inline-block;
    position: absolute;
    bottom: 30%;
    left:60%;
    margin: 0;
    width: 380px;
}
.container-fluid{
    height: 700px;
    margin: 0;
    padding: 50px;
    text-align:center;
}
.card-container{
    text-align: center;
    padding: 20px;
}
#recent-recipe>h3{
    margin: 0 0 50px 0;
    font-size: 50px ;
    color: yellowgreen;
}
#footer{
    position:relative;
    bottom:0%;
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
    padding: 45px;
}
#footer>h6{
    color:grey;
}
.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
  }

.fa:hover {
    opacity: 0.7;
  }


  /* Create.html Styling */

.create-form-div{
    padding: 10%;
    text-align: center;
    background-image:url('https://t3.ftcdn.net/jpg/02/07/68/68/360_F_207686801_aJaxzCju0aJ7us5hYFB59KvXU6NcqjMG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#form-div{
    border-radius: 25px;
    padding: 10px;
    background-color: lightgray;
    position: relative;
    left: 25%;
    text-align: center;
    margin:0;
    width: 50%;
}


  /* All Recipe.html Styling */

  #main-allrecipe{
      padding: 5% 5% 0;
      margin: 0;
      background-color: linen;
  }

.commentbox{
    padding: 50px;
    margin: 0;
    border: black solid;
}